$handle: "hero";

.#{$handle} {
    position: relative;

    &__text-cont {
        @include valign;
        @include container;
        @include space($spacing-lg * 2, $spacing-lg);
        position: relative;

        > h1 {
            @include type("heading-xl");
        }

        > h3 {
            @include type("body-lg");
            margin-top: $spacing-sm;
        }

        > nav {
            > a {
                @include button;
                margin-top: $spacing-sm;
                pointer-events: auto;
            }
        }
    }
}
