@mixin link($size: "md", $hover: true) {
    @include type("body-md");
    display: inline-block;
    color: $color-red;
    transition: color $animate-sm;

    @if ($size == "sm") {
        line-height: $spacing-xs * 3;
    } @else if ($size == "md") {
        line-height: $spacing-sm * 2;
    } @else if ($size == "lg") {
        line-height: $spacing-sm * 3;
    }

    &:hover {
        @if ($hover) {
            color: $color-red-dk;
        }
    }
}

@mixin button($type: "primary", $size: "md", $hover: true) {
    @include link($size, $hover);
    @include pad($spacing-sm);
    @include rounded;
    display: inline-block;
    white-space: nowrap;
    line-height: $spacing-md;
    text-align: center;
    transition:
        background-color $animate-sm,
        color $animate-sm,
        border-color $animate-sm;

    @if ($type == "primary") {
        background-color: $color-red;
        color: $color-white;
        border: 1px solid $color-red;
    } @else if ($type == "secondary") {
        background-color: $color-bg-gray-lt;
        color: $color-fg-gray-dk;
    } @else if ($type == "tertiary") {
        color: $color-fg-gray-dk;
        border: 1px solid $color-fg-gray-dk;
    }

    @if ($size == "sm") {
        @include pad($spacing-xs);
    } @else if ($size == "md") {
        @include pad($spacing-sm);
    } @else if ($size == "lg") {
        @include pad($spacing-sm);
    }

    &:active,
    &:focus,
    &:hover {
        outline: 0;

        @if ($hover and $type == "primary") {
            background-color: $color-red-dk;
            color: $color-white;
            border-color: $color-red-dk;
        } @else if ($hover and $type == "secondary") {
            background-color: darken($color-bg-gray-lt, 15%);
            color: $color-fg-gray-dk;
        } @else if ($hover and $type == "tertiary") {
            color: $color-red;
            border-color: $color-red;
        }
    }
}

@mixin iconButton($type: "primary", $size: "md") {
    @include button($type, $size);
    display: inline-flex;
    align-items: center;

    > i {
        width: $spacing-xs;
        height: $spacing-xs;
        margin-right: $spacing-xs / 2;

        @if ($type == "primary") {
            fill: $color-white;
        } @else if ($type: "secondary") {
            fill: $color-red;
        }
    }
}

@mixin actionButton($type: "primary") {
    display: inline-block;
    position: relative;
    width: $spacing-md;
    height: $spacing-md;
    border-radius: 50%;
    transition: background-color $animate-sm;

    @if ($type == "primary") {
        background-color: $color-red;
    } @else if ($type: "secondary") {
        background-color: $color-red-dk;
    }

    &:hover {
        background-color: lighten($color-red-dk, 15%);
    }

    > i {
        @include centerer;
        width: $spacing-xs * 1.5;
        height: $spacing-xs * 1.5;
        fill: $color-white;
    }
}
