@mixin link() {
    @include type("body-md");
    display: inline-block;
    line-height: $spacing-md;
    color: $color-orange;
    transition: color $animate-sm;

    &:hover {
        opacity: 0.5;
    }
}

@mixin button() {
    @include link;
    @include pad($spacing-sm);
    @include rounded;
    display: inline-block;
    white-space: nowrap;
    line-height: $spacing-md;
    background-color: $color-orange;
    color: $color-white;
    text-align: center;
    transition:
        background-color $animate-sm,
        color $animate-sm,

    &:active,
    &:focus,
    &:hover {
        outline: 0;
        background-color: lighten($color-orange, 15%);
        color: $color-white;
    }
}

@mixin iconButton() {
    @include button;
    display: inline-flex;
    align-items: center;

    > i {
        width: $spacing-xs;
        height: $spacing-xs;
        margin-right: $spacing-xs / 2;
        fill: $color-white;
    }
}

@mixin actionButton() {
    display: inline-block;
    position: relative;
    width: $spacing-md;
    height: $spacing-md;
    border-radius: 50%;
    background-color: $color-orange;
    transition: background-color $animate-sm;

    &:hover {
        background-color: lighten($color-orange, 15%);
    }

    > i {
        @include centerer;
        width: $spacing-xs * 1.5;
        height: $spacing-xs * 1.5;
        fill: $color-white;
    }
}
