{##
 # HTML layout
 # @block {HTML} body
 #}

{# Markup #}
{% import '_macros/components' as components %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
    <head>
        {% include '_meta/data' only %}
        {% include '_meta/favicons' only %}

        {# Main stylesheet #}
        <link rel="stylesheet" type="text/css" href="/styles/index.1614608725025.css" />
    </head>

    <body data-no-js="true">
        <script type="text/javascript">
            document.body.setAttribute('data-no-js', false);
        </script>

        {{ components.scaffold() }}

        <a
            style="position:absolute;opacity:0;z-index:-1;width:1px;height:1px;"
            href="#main-content">
            Skip to main content</a>

        {{ block('body') }}

        {% include '_components/modal' only %}

        {# Main scripts #}
        <script type="text/javascript" src="/scripts/index.1614608725025.js"></script>

        {% if constant('CRAFT_ENVIRONMENT') == 'production' %}
            {% include '_meta/bugherd' only %}
        {% endif %}

        {# LiveReload (development only) #}
        {% if constant('CRAFT_ENVIRONMENT') == 'development' %}
            <script>document.write('<script src=\"http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1\"></' + 'script>')</script>
        {% endif %}
    </body>
</html>
