// Primary
$color-white:  #FFF;
$color-black:  #222;
$color-orange: orange;
$color-green:  green;

// Foreground
$color-fg-gray-lt: #999;
$color-fg-gray-md: #777;
$color-fg-gray-dk: #555;

// Background
$color-bg-blue-lt: #EBF3F5;
$color-bg-gray-lt: #F4F4F4;
$color-bg-gray-dk: #2B2E2F;

// Border
$color-br-blue-lt: #254B64;
$color-br-gray-lt: #DDD;
$color-br-gray-dk: #404040;
