html {
    font-size: 62.5%; // Sets up the Base 10 stuff
}

body {
    @include type("body-md");
    position: relative;
    overflow-x: hidden;
    min-width: $min-width-page;
    margin: 0 auto;
    background-color: $color-white;
    color: $color-fg-gray-dk;
    -webkit-font-smoothing: antialiased;

    &.is-locked { overflow: hidden; }
}

a {
    cursor: pointer;

    &[name] {
        display: inline-block;
        height: 0;
        line-height: 0;
    }
}

sub {
    vertical-align: sub;
    font-size: 0.5em;
}

sup {
    vertical-align: super;
    font-size: 0.5em;
}

img {
    display: block;
    max-width: 100%;
}

hr {
    display: block;
    width: 100%;
    height: 0;
    border: 0;
    border-bottom: 1px solid $color-br-gray-dk;
}

// Remove search close button from input
[type=text]::-ms-clear { display: none; width: 0; height: 0; }
[type=text]::-ms-reveal { display: none; width: 0; height: 0; }
[type="search"]::-webkit-search-decoration,
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-results-button,
[type="search"]::-webkit-search-results-decoration { display: none; }

[type="text"],
[type="number"],
[type="search"],
[type="password"],
[type="email"],
[type="tel"],
[type="radio"],
[type="checkbox"],
[type="reset"],
[type="submit"],
select,
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0;
    background: none;
    border: 0;
    border-radius: 0;
    outline: 0;

    &:-ms-expand { display: none; }
}
[type="checkbox"],
[type="radio"] {
    display: inline-block;
    width: $spacing-xs * 1.5;
    height: $spacing-xs * 1.5;
    margin: 0 3px 0 0;
    vertical-align: middle;
}
[type="radio"] {
    border-radius: 50%;
}
[type="file"],
[type="reset"],
[type="submit"] {
    cursor: pointer;
}

label {
    cursor: pointer;
}

button {
    padding: 0;
    background: none;
    border: 0;
    border-radius: 0;
    cursor: pointer;

    &:disabled {
        cursor: inherit;
    }
}
