/**
 * Typography mixins
 */

$fonts: (
    sans: (
        lt:    sans-serif,
        lt-it: sans-serif,
        md:    sans-serif,
        md-cd: sans-serif,
        md-it: sans-serif,
        sb:    sans-serif,
        sb-it: sans-serif,
        bd:    sans-serif,
        bd-it: sans-serif,
    ),
    serif: (
        lt:    serif,
        lt-it: serif,
        md:    serif,
        md-it: serif,
        sb:    serif,
        sb-it: serif,
        bd:    serif,
        bd-it: serif,
    ),
);

$font-weight-lt: 300;
$font-weight-md: 400;
$font-weight-sb: 600;
$font-weight-bd: 700;

// https://css-tricks.com/snippets/css/less-mixin-for-rem-font-sizing/
@mixin fontSize($size-value: 1.6) {
    font-size: ($size-value * 10) + px;
    font-size: $size-value + rem;
}

@mixin lineHeight($size-value: 1.6) {
    line-height: ($size-value * 10) + px;
    line-height: $size-value + rem;
}

@mixin font($weight: "md", $condensed: false, $italic: false, $serif: false) {
    @if ($weight == "lt") {
        font-weight: $font-weight-lt;
    } @else if ($weight == "md") {
        font-weight: $font-weight-md;
    } @else if ($weight == "sb") {
        font-weight: $font-weight-sb;
    } @else if ($weight == "bd") {
        font-weight: $font-weight-bd;
    }

    $key: "md";
    @if ($condensed) { $key: $key+"-cd"; }
    @if ($italic) { $key: $key+"-it"; }

    // Use formatting baked into fonts instead of properties
    // font-stretch: if($condensed, condensed, normal);
    // font-style: if($italic, italic, normal);
    font-family: map-get(map-get($fonts, if($serif, serif, sans)), $key);
}

@mixin type($size) {
    @include font($weight: "md");

    @if ($size == "heading-xl") {
        @include font($serif: true);
        @include fontSize(7.2);
        @include lineHeight(9.0);
    } @else if ($size == "heading-lg") {
        @include font($serif: true);
        @include fontSize(6.5);
        @include lineHeight(7.8);
    } @else if ($size == "heading-md") {
        @include font($serif: true);
        @include fontSize(4.8);
        @include lineHeight(5.3);
    } @else if ($size == "heading-sm") {
        @include font($serif: true);
        @include fontSize(3.4);
        @include lineHeight(4.6);
    } @else if ($size == "heading-xs") {
        @include font($serif: true);
        @include fontSize(1.4);
        @include lineHeight(2.0);
    } @else if ($size == "body-lg") {
        @include fontSize(1.8);
        @include lineHeight(2.5);
    } @else if ($size == "body-md") {
        @include fontSize(1.6);
        @include lineHeight(2.4);
    } @else if ($size == "body-sm") {
        @include fontSize(1.4);
        @include lineHeight(2.0);
    } @else if ($size == "body-xs") {
        @include fontSize(1.3);
        @include lineHeight(1.9);
    }
}
